altgraph==0.17.4
asgiref==3.7.2
charset-normalizer==3.3.2
colorama==0.4.6
Django==5.0.1
django-widget-tweaks==1.5.0
dm-tree==0.1.8
docopt==0.6.2
idna==3.6
iniconfig==2.0.0
namex==0.0.7
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
pluggy==1.4.0
Pygments==2.17.2
pytest==8.0.2
pywin32-ctypes==0.2.2
setuptools==69.0.3
six==1.16.0
sqlparse==0.4.4
tzdata==2023.4
urllib3==2.2.0
wheel==0.42.0


#pip freeze > requirements.txt
